<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cooperativa.ideias.ascender.ecoponto"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--<uses-feature-->
        <!--android:name="android.hardware.touchscreen"-->
        <!--android:required="false" />-->
    <!--<uses-feature-->
        <!--android:name="android.software.leanback"-->
        <!--android:required="false" />-->
    <!--<uses-feature-->
        <!--android:name="android.hardware.location.gps"-->
        <!--android:required="false" />-->
    <!--<uses-feature-->
        <!--android:name="android.hardware.camera"-->
        <!--android:required="false" />-->

    <application
        android:icon="@mipmap/iconenovo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Fazer a troca de tags iniciais para laucher correto do app. Apenas realizando teste com viewpager-->
        <!-- MainActivity por ViewPagerCards...-->
        <!--<activity android:name=".ViewPagerCards">-->


        <!--</activity>-->

        <!-- Chamada da Activity Inicial Teste-->
        <!--<activity-->
            <!--android:name=".Teste"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->

            <!--&lt;!&ndash; //Chamada da Activity Inicial Teste &ndash;&gt;-->

        <!--</activity>-->

        <!--<activity-->
            <!--android:name=".LoginActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->

        <!--<meta-data-->
            <!--android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyDPLY-wWU-vtAIgyIMNmxj5oS2dIYok0_w" />-->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!-- Chamando Activity ViewPager -->
        <!-- //Chamando Activity ViewPager -->
        <!-- Chamada da Activity principal- MainActivity -->
        <activity
            android:name=".v2.activitys.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_map_key}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />




        <!-- //Chamada da Activity principal- MainActivity -->
        <!--<activity-->
            <!--android:name=".AscenderIdeias"-->
            <!--android:theme="@style/AppCompat.TelaCheia"> &lt;!&ndash; App Theme retirado da Action AscenderIdeias &ndash;&gt;-->

        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".SobreFragment"-->
            <!--android:theme="@style/AppCompat.TelaCheia"> &lt;!&ndash; App Theme retirado da Action AscenderIdeias &ndash;&gt;-->

        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".ASCItaperuna"-->
            <!--android:theme="@style/AppCompat.TelaCheia"> &lt;!&ndash; App Theme retirado da Action AscenderIdeias &ndash;&gt;-->

        <!--</activity> &lt;!&ndash; Acvitivity Main2 para armazenamento dos Horarios de Coleta &ndash;&gt;-->
        <!--<activity android:name=".ColetasFragment" /> &lt;!&ndash; Activity para SplashScreen animacao de Entrada Aplicativo &ndash;&gt;-->
        <!--&lt;!&ndash; activity android:name=".Activity.Activity.Activity.SplashScreen" activity &ndash;&gt;-->
        <!--&lt;!&ndash; Referencia Activity Splash Original &ndash;&gt;-->
        <!--&lt;!&ndash; activity android:name=".Activity.Activity.Activity.ViewPage" &ndash;&gt;-->
        <!--&lt;!&ndash; /activity &ndash;&gt;-->
        <!--<activity android:name=".ProtejaOsEcoPontos" />-->
        <!--<activity android:name=".EnviarEmail" />-->
        <!--<activity android:name=".MainLoginActivity" />-->
    </application>

</manifest>