<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cooperativa.ideias.ascender.ecoponto"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.apps.maps.permission.PREFETCH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:icon="@mipmap/iconenovo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Chamada da Activity principal- MainActivity -->
        <activity
            android:name=".Teste"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- //Chamada da Activity principal- MainActivity -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDPLY-wWU-vtAIgyIMNmxj5oS2dIYok0_w" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->


        <!-- Chamando Activity ViewPager -->
        <activity
            android:name=".ViewPage"
            android:label="@string/app_name"
            android:theme="@style/FullScreen" />
        <!-- //Chamando Activity ViewPager -->


        <!-- Chamada da Activity principal- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- //Chamada da Activity principal- MainActivity -->

        <activity
            android:name=".AscenderIdeias"
            android:theme="@style/AppCompat.TelaCheia"> <!-- App Theme retirado da Action AscenderIdeias -->

        </activity>
        <activity
            android:name=".Sobre"
            android:theme="@style/AppCompat.TelaCheia"> <!-- App Theme retirado da Action AscenderIdeias -->

        </activity>
        <activity
            android:name=".ASCItaperuna"
            android:theme="@style/AppCompat.TelaCheia"> <!-- App Theme retirado da Action AscenderIdeias -->

        </activity>

        <!-- Acvitivity Main2 para armazenamento dos Horarios de Coleta -->
        <activity android:name=".Main2Activity" />

        <!-- Activity para SplashScreen animacao de Entrada Aplicativo -->
        <!-- activity android:name=".Activity.Activity.Activity.SplashScreen" activity -->
        <!-- Referencia Activity Splash Original -->


        <!-- activity android:name=".Activity.Activity.Activity.ViewPage" -->
        <!-- /activity -->
        <activity android:name=".ProtejaOsEcoPontos" />
        <activity android:name=".EnviarEmail" />
        <activity android:name=".VideoAssociacaoIFF" />
        <activity android:name=".MainLoginActivity" />

        <!-- Mapa Nosso Óleo Nosso Rio -->
        <!--
            Fragment
            android:name=".Activity.MapsActivityNsr"
            android:label="@string/title_activity_maps" /
        -->
        <!-- //Mapa Nosso Óleo Nosso Rio -->


        <!-- Mapa Coleta Seletiva -->
        <!--
            Fragment
            android:name=".Activity.MapsActivityClt"
            android:label="@string/app_name"
            android:process=":SecondMapProcess" /
        -->
        <!-- //Mapa Coleta Seletiva -->


        <!-- Mapa Ascender Ideias -->
        <!--
            Fragment
            android:name=".Activity.MapsAscenderIdeias"
            android:label="Ascender Ideias"
            android:process=":ThirdMapProcess" /
        -->
        <!-- //Mapa Ascender Ideias -->


        <!-- Mapa Associação de Catadores de Itaperuna -->
        <!--
            android:name=".Maps"
            android:label="Associação de Catadores de Itaperuna"
            android:process=":FourMapProcess" /
        -->
        <!-- //Mapa Associação de Catadores de Itaperuna -->

    </application>

</manifest>